*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1300px;
    margin: auto;
}

.title{
    position: absolute;
    top: 25%;
    left: 36%;
    transform: translate(-50%-50%);
}

.title h1{
    color: rgb(184, 241, 255);
    font-size: 70px;
}

.button {
    position: absolute;
    top: 51%;
    left: 44%;
    transform: translate(-50%-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

.desc{
    position: absolute;
    top: 41%;
    left: 38%;
    transform: translate(-50%-50%);
}

.desc h2{
    color: #fff;
}

.downloads{
    position: absolute;
    top: 23%;
    left: 39%;
}

.downloads h2{
    color: #fff;
}

.dwnlbtnw {
    position: absolute;
    top: 32%;
    left: 44%;
    transform: translate(-50%-50%);
}

.btnw{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btnw:hover{
    background-color: #fff;
    color: #000;
}

.macorlinux{
    position: absolute;
    top: 50%;
    left: 37%;
}

.macorlinux h2{
    color: #fff;
}

.dwnlbtnml {
    position: absolute;
    top: 900%;
    left: 0%;
    transform: translate(-50%-50%);
}

.btnml{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btnml:hover{
    background-color: #fff;
    color: #000;
}

.titledl{
    position: absolute;
    top: 10%;
    left: 36%;
    transform: translate(-50%-50%);
}

.titledl h1{
    color: rgb(184, 241, 255);
    font-size: 70px;
}

.Or{
    position: absolute;
    top: 37%;
    left: 46%;
    transform: translate(-50%-50%); 
}

.Or h1{
    color: #fff;
    font-size: 70px;
}

.titleabtus{
    position: absolute;
    top: 10%;
    left: 36%;
    transform: translate(-50%-50%);
}

.titleabtus h1{
    color: rgb(184, 241, 255);
    font-size: 70px;
}

.titleabtu{
    position: absolute;
    top: 40%;
    left: 34%;
    transform: translate(-50%-50%);
}

.titleabtu p{
    color: #fff;
    font-size: 60px;
}

.discord{
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%-50%);
}

.discordbtn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.discordbtn:hover{
    background-color: #fff;
    color: #000;
}

.discordtxt{
    position: fixed;
    top: 47%;
    left: 42%;
}

.discordtxt h2{
    color: #fff;
    font-size: 50;
}

.goback {
    position: absolute;
    top: 51%;
    left: 40%;
    transform: translate(-50%-50%);
}

.gobck{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.gobck:hover{
    background-color: #fff;
    color: #000;
}

.titlepnf{
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-50%-50%);
}

.titlepnf h1{
    color: rgb(184, 241, 255);
    font-size: 70px;
}

.descpnf{
    position: absolute;
    top: 41%;
    left: 42%;
    transform: translate(-50%-50%);
}

.descpnf h2{
    color: #fff;
}

.titlespotify{
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%-50%);
}

.titlespotify h1{
    color: rgb(30, 215, 96);
    font-size: 70px;
}
